%canvas{:id => "TempHum"}

.groupButtonG
  %button{:id => "24Hours", :class => "buttonG"} 24h
  %button{:id => "pastWeek", :class => "buttonG"} Week
  %button{:id => "pastMonth", :class => "buttonG"} Month

#t24{@t24}
#week{@week}
#month{@month}
